<ul id="defilbar">
    <li>
    	<span>
    		{{t "situer_auto_ecole"}}
    	</span>
	</li>
    <li>
    	<span>
    		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    	</span>
	</li>
	<li>
    	<span>
    		{{t "adresse_cap_conduite"}}
    	</span>
	</li>
	<li>
    	<span>
    		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    	</span>
	</li>
	<li>
    	<span>
    		Métro : {{t "metro_cap_conduite"}}
    	</span>
	</li>
	<li>
    	<span>
    		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    	</span>
	</li>
	<li>
    	<span>
    		Bus : {{t "bus_cap_conduite"}}
    	</span>
	</li>
	<li>
    	<span>
    		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    	</span>
	</li>
	<li>
    	<span>
    		Tél : {{t "tel_cap_conduite"}} / Mob : {{t "mob_cap_conduite"}}
    	</span>
	</li>
</ul>