<div class="navigation-gauche col-xs-offset-0 col-sm-offset-0 col-md-offset-0 col-lg-offset-0 col-xs-12 col-sm-12 col-md-12 col-lg-2">
	<span class="" style="">
		Téléphone : <br/>
		{{t 'tel_cap_conduite'}}
	</span>
</div>

<div class="navigation-centre col-xs-offset-0 col-sm-offset-0 col-md-offset-1 col-lg-offset-0 col-xs-12 col-sm-12 col-md-10 col-lg-8">
	<div class="btn-toolbar" role="toolbar">
		<div class="btn-group">
	    	<a role="button" class="btn btn-default" href="/accueil"> {{t 'bouton_acceuil'}} </a>
	  	</div>
	  	<div class="btn-group">
	    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
	    	Auto
	      	<span class="caret"></span>
	    </button>
	    <ul class="dropdown-menu img-background" role="menu">
	    	<li>
				<a href="/permis-b">{{t 'permis-b'}}</a>
			</li>
			<li>
				<a href="/permis-aac">{{t 'permis-aac'}}</a>
			</li>
			<li>
				<a href="/perfectionnement">{{t 'perfectionnement'}}</a>
			</li>
			<li class="divider"></li>
			<li>
				<a href="/carte">{{t 'carte'}}</a>
			</li>
		</ul>
	  	</div>
	  	<div class="btn-group">
		    <a role="button" class="btn btn-default" href="/recuperation"> Récupération de points </a>
		</div>
	  	<div class="btn-group">
	    	<a role="button" class="btn btn-default" href="/localiser"> {{t 'bouton_localiser'}} </a>
	  	</div>
	</div>
</div>

<div class="navigation-droite col-xs-offset-0 col-sm-offset-0 col-md-offset-0 col-lg-offset-0 col-xs-12 col-sm-12 col-md-12 col-lg-2">
	<span class="" style="">
		Mobile : <br/>
		{{t 'mob_cap_conduite'}}
	</span>
</div>